[env]
    NVIM_APPNAME = "astronvim"

[edit]
    command = "nvim"
    hardlink = false

[diff]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]

[keepassxc]
    database = "{{ .chezmoi.rawHomeDir }}/.passwords.kdbx"
    args = [ "--no-password", "--key-file", "{{ .chezmoi.rawHomeDir }}/.keepassxc.key"]
    prompt = false

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-keepassxc.sh"

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
