{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ range .packages.darwin.taps -}}
brew trust {{ . | quote }}
{{ end -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ if .packages.darwin.upgrade -}}
brew update
brew upgrade -y
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "fedora" -}}
#!/bin/bash
{{ if .packages.linux.fedora.repos }}
### Custom repos
{{ range .packages.linux.fedora.repos }}
repo_file="/etc/yum.repos.d/{{ .name }}.repo"
[ -f "${repo_file}" ] || sudo tee "${repo_file}"  <<EOF
{{ .value }}
EOF

{{ end }}
{{ end }}
{{ if .packages.linux.fedora.coprs }}
### Coprs
{{ range .packages.linux.fedora.coprs -}}
sudo dnf copr list | grep -q {{ . |quote }} || sudo dnf copr enable -y {{ . | quote }}
{{ end -}}
{{ end }}

{{ if .packages.linux.fedora.groups }}
### RPM groups
for group in {{ range .packages.linux.fedora.groups -}}{{ . | quote }} {{ end }}; do
sudo dnf group list --installed | grep -q "${group}" || sudo dnf group install -y "${group}"
done
{{ end }}

{{ if .packages.linux.fedora.rpms }}
### RPM packages
rpms="{{ range .packages.linux.fedora.rpms -}}{{ . }} {{ end }}"
rpm -q ${rpms} &>/dev/null || sudo dnf install -y ${rpms}
{{ end }}

{{- if .packages.linux.fedora.update }}
### Update
sudo dnf update --refresh -y
{{ end }}

{{ if .packages.linux.fedora.flatpaks -}}
### Flatpak
{{ range .packages.linux.fedora.flatpaks -}}
for app in {{ range .apps }}{{ . | quote }} {{ end }}; do
  flatpak info "${app}" &>/dev/null || flatpak install -y {{ .remote | quote }} "${app}"
done
{{ end }}
{{ end }}
{{ end }}
{{ end -}}
