KERBEROS_USER={{ keepassxcAttribute "Accounts/Red Hat" "KERBEROS_USER" }}
KERBEROS_HOST={{ keepassxcAttribute "Accounts/Red Hat" "KERBEROS_HOST" }}
KERBEROS_REALM={{ keepassxcAttribute "Accounts/Red Hat" "KERBEROS_REALM" }}
# export KRB5_TRACE=/dev/stdout
# export KRB5CCNAME="KEYRING:persistent:$UID"
export KRB5_CONFIG="${HOME}/.config/krb5.conf"
# General keytab
export KRB5_KTNAME="${HOME}/.config/krb5.keytab"
# Default client keytab
export KRB5_CLIENT_KTNAME="${HOME}/.config/${KERBEROS_USER}.keytab"
# Automatic Kerberos ticket retrieval
[ -z "${KERBEROS_USER}" ] ||
[ -z "${KERBEROS_HOST}" ] ||
[ -z "${KERBEROS_REALM}" ] ||
[ ! -f "${KRB5_CONFIG}" ] ||
[ ! -f "${KRB5_CLIENT_KTNAME}" ] ||
! command -v grep &>/dev/null ||
! command -v dig &>/dev/null ||
! command -v klist &>/dev/null ||
(
   if [[ "$(dig +short +retry=0 +tries=0 +timeout=1 ${KERBEROS_HOST})" == 10.* ]]; then
      klist -l | grep -q -c "${KERBEROS_USER}@${KERBEROS_REALM}" || kinit -k -i
   fi &
   disown
)
