export GITHUB_TOKEN={{ keepassxcAttribute "Accounts/Red Hat" "GITHUB_TOKEN" }}
export JIRA_TOKEN={{ keepassxcAttribute "Accounts/Red Hat" "JIRA_TOKEN" }}
export QUAY_APP_TOKEN={{ keepassxcAttribute "Accounts/Red Hat" "QUAY_APP_TOKEN" }}

export CLOUD_ML_REGION={{ keepassxcAttribute "Accounts/Red Hat" "CLOUD_ML_REGION" }}
export GEMINI_API_KEY={{ keepassxcAttribute "Accounts/Red Hat" "GEMINI_API_KEY" }}
export CLAUDE_CODE_USE_VERTEX={{ keepassxcAttribute "Accounts/Red Hat" "CLAUDE_CODE_USE_VERTEX" }}
export ANTHROPIC_VERTEX_PROJECT_ID={{ keepassxcAttribute "Accounts/Red Hat" "ANTHROPIC_VERTEX_PROJECT_ID" }}
